$black: #252525;
$white: #ffffff;
$yellow: #ffcb03;
$grey: #d9d9d9;
$green: #57855c;
$beige: #e1dfa9;
$blue: #0a6bff;
$darkGrey: #27282c;

$text: 16px;
$subTitle: 21px;
$title: 30px;

$monserrat: 'Montserrat', sans-serif;

$lineShadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
