@import "utils/styles/mixins";

.card {
  display: flex;
  padding: 0.7rem;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  margin-bottom: 20px;
  width: 100%;

  @include below-tablet {
    flex-direction: column;
    max-height: inherit;
  }
}

.image {
  flex: 0 0 300px;
  border-radius: 15px;

  @include below-tablet {
    flex: 0 0 100%;
  }
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;

  @include below-tablet {
    padding: 20px 0 30px;
  }
}

.title {
  @include fontSize(20px, 24px);

  text-align: left;
  font-weight: 500;

  @include below-tablet {
    text-align: center;
  }
}

.role {
  text-align: left;
  color: $green;
  margin: 10px 0;

  @include below-tablet {
    text-align: center;
  }
}

.description {
  @include fontSize(16px, 180%);

  text-align: left;

  @include below-tablet {
    text-align: inherit;
  }
}
