@import 'utils/styles/mixins';
@import 'utils/styles/vars';

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width: 100%;

  &__item {
    @include fontSize(20px);

    text-align: center;
    padding: 15px;
    margin: 5px 0;
    width: 100%;
    transition: 0.3s ease-in-out;
    color: $black;
    cursor: pointer;

    &--checked {
      opacity: 0.5;
      text-align: center;
      padding: 15px;
      margin: 5px 0;
      width: 100%;
      font-size: $subTitle;
      transition: 0.3s ease-in-out;
      color: $black;
      cursor: not-allowed;
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    }

    &:active {
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0,
      rgba(27, 31, 35, 0.15) 0 0 0 1px;
      opacity: 0.8;
    }
  }
}
