@import '../../../utils/styles/vars';

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  height: 100%;

  & li {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 10px;

    & a {
      position: relative;
      display: flex;
      align-items: center;
      font-size: $subTitle;
      padding: 5px 10px;
      border-radius: 10px;
      overflow: hidden;
      pointer-events: auto;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        left: 0;
        bottom: 0;
        background-color: $black;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        transition: 0.3s ease-in-out;
        opacity: 0.1;
      }

      &:hover::before {
        height: 90%;
      }

      &:active::before {
        height: 100%;
        border-radius: 0;
      }

      &.checked::before {
        height: 100%;
        border-radius: 0;
      }
    }
  }

  @media screen and (max-width: 639px) {
    display: none;
  }
}
