@import 'utils/styles/mixins';
@import 'utils/styles/vars';

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  height: 100%;

  li {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 10px;

    a {
      @include fontSize(20px);

      position: relative;
      display: flex;
      align-items: center;
      padding: 5px 10px;
      color: $black;
      border-radius: 10px;
      overflow: hidden;
      pointer-events: auto;
      transition: 0.5s ease-in-out;

      &:hover {
        color: $grey;
      }

      &.checked {
        color: $grey;
        cursor: not-allowed;
      }
    }
  }

  @media screen and (max-width: 639px) {
    display: none;
  }
}
